<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav></nav>
    <div class="todo-container">
      <h2>To-Do List</h2>
      <div class="todo">
        <form action="/app" method="POST" class="todo-header">
          <input type="text" name="task" autofocus />
          <button><span class="fas fa-plus"></span></button>
        </form>
        <ul class="todo-list">
          <% task.forEach(t => { %>
          <li class="todo-list-item">
            <div class="todo-list-item-name"><%= t.task %></div>
            <a href="/app/<%=t._id%>/edit" class="edit">
              <span class="fas fa-edit"></span>
            </a>

            <form action="/app/<%=t._id%>?_method=DELETE" method="POST">
              <button class="btn btn-delete">
                <span class="fas fa-times"></span>
              </button>
            </form>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <form class action="/logout" method="Post">
      <button class="btn-logout" type="submit">Logout</button>
    </form>
  </body>
</html>
